@model HolidayHelper.Models.GiftIdeaModels.GiftIdeaDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiftIdeaDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiftIdeaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftIdeaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.GiftIdeaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
